html{
    font-family: sans-serif;
    color: white;
}

body{
    background-image:url('/webPortImages/photomode_01082025_220423.png');
    background-repeat: no-repeat;
}

h2{
    font-size: 30px;
}

.section{
    text-align: center;
    padding: 50px;
}

table, th, td{
    text-align: center;
    width: 40px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 30px;
}