html{
    font-family: sans-serif;
}

h2{
    font-size: 30px;
}

.section{
    text-align: center;
    padding: 50px;
}

table, th, td{
    text-align: center;
    width: 40px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 30px;
}

#Table{
    text-align: center;
}